Homework Week 2

Let's take a look at a simple numpy array:
data = np.array([[2.1, 3.2, 4.3, 5.4, 6.5, 7.6], [7.8, 6.7, 5.6, 4.5, 3.4, 2.3]])

Give me one line of python code for each of the following:

In [1]:
import numpy as np

data = np.array([[2.1, 3.2, 4.3, 5.4, 6.5, 7.6], [7.8, 6.7, 5.6, 4.5, 3.4, 2.3]])
data

array([[2.1, 3.2, 4.3, 5.4, 6.5, 7.6],
       [7.8, 6.7, 5.6, 4.5, 3.4, 2.3]])

In [2]:
# Convert all elements of data to integers

data_int = data.astype(int)
data_int

array([[2, 3, 4, 5, 6, 7],
       [7, 6, 5, 4, 3, 2]])

In [4]:
# Multiply each element of data by 3

data_three = data * 3
data_three

array([[ 6.3,  9.6, 12.9, 16.2, 19.5, 22.8],
       [23.4, 20.1, 16.8, 13.5, 10.2,  6.9]])

In [3]:
# Convert data into a three row array with four columns in each row

data_transform = data.reshape(3, 4)
data_transform

array([[2.1, 3.2, 4.3, 5.4],
       [6.5, 7.6, 7.8, 6.7],
       [5.6, 4.5, 3.4, 2.3]])

In [4]:
# Get the number of elements in data

num_elements = data.size
num_elements

12

In [8]:
# Convert data to a python list

python_list = data.tolist()
python_list

[[2.1, 3.2, 4.3, 5.4, 6.5, 7.6], [7.8, 6.7, 5.6, 4.5, 3.4, 2.3]]

In [5]:
# Get the third element of the second row of data

element = data[1][2]
element

5.6

In [8]:
# Get the whole third column of data

third_col = data[:, 2]
third_col

array([4.3, 5.6])

In [10]:
# Assign the second row of data to 4 times itself
data
data[1, :] = 4 * data[1, :]
data

array([[ 2.1,  3.2,  4.3,  5.4,  6.5,  7.6],
       [31.2, 26.8, 22.4, 18. , 13.6,  9.2]])

In [11]:
# Subtract the min of the first row of data from each element in the first row of data

data[0, :] = data[0, :] - data[0, :].min()
data

array([[ 0. ,  1.1,  2.2,  3.3,  4.4,  5.5],
       [31.2, 26.8, 22.4, 18. , 13.6,  9.2]])

In [18]:
# Assign the second column of data to be zeros 

data[:, 1] = np.zeros(data.shape[0])
data

array([[ 0. ,  0. ,  2.2,  3.3,  4.4,  5.5],
       [31.2,  0. , 22.4, 18. , 13.6,  9.2]])